/*
1. Posicionamiento
2. Modelo de caja (Box model)
3. Tipografía
4. Visuales
5. Otros
*/

:root{
    /* Colores */
    --crema-beige: #edd5d1;
    --rosa-pastel: #e3bab8;
    --vino-pastel:#b76b79;
    --azul-pastel: #aad0d9;
    --azul-negro: #2a3436;
    --negro: #282623;
    --grey: #BABABA;
    --off-white: #F6F7F9;
    --just-white: #fff;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}

header{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 345px;
    text-align: center;
    align-items: center;
    background: rgb(237,213,209);
    background: linear-gradient(11deg, rgba(237,213,209,1) 0%, rgba(227,186,184,1) 65%);
}

header img{
    width: 150px;
    height: auto;
    margin-top: 40px;
}

.header--title-container{
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin-top: 40px;
}

.logocolor{
    filter: brightness(0) saturate(100%) invert(95%) sepia(60%) saturate(6885%) hue-rotate(175deg) brightness(87%) contrast(95%);
}

.header--title-container h1 {
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 2.9rem;
    color: var(--just-white);
}

.header--title-container p{
    margin-top: 25px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--azul-negro);
}

.header--title-container .header--button{
    position: absolute;
    left: calc(50% - 120px);
    top: 305px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    padding: 5px;
    width: 240px;
    height: 40px;
    background-color: var(--off-white);
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border: none;
    border-radius: 10px;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--azul-negro);
    
}

.header--button span{
    display: inline-block;
    width: 10px;
    height: 17px;
    margin-left: 10px;
    background-image: url('');
}

main {
    width: 100%;
    height: auto;
    background-color: var(--azul-pastel);
}

.main-general-container {
    width: 100%;
    height: auto;
    padding-top: 80px;
    padding-bottom: 40px;
    text-align: center;

}

.main-general-container--tittle {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin: 0 auto;
}

.main-general-container .backgroundImg {
    width: 300px;
    height: 300px;
    margin: 0 auto;
    margin-bottom: 50px;
    background-image: url('./assets/imgs/pexels.png');
    background-size: cover;
    background-position: inherit;
    background-repeat: no-repeat;
}

.main-general-container h2{
    margin-bottom: 30px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--azul-negro);
}

.main-general-container p{
    margin-bottom: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.6rem;
    color:#757575;

}

.main-general-container--grid {
    background-color: #BABABA;
    border: 3px solid #757575;
    width: 90%;
    height: 200px;
    margin: 0 auto;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: column;
    gap: 20px;

}

.main-general-container--item{
    font-size: 2rem;
    background: #8de34f;
    justify-items: end;
    align-items: end;

}

.main-general-container--item span{
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    background-color: #dcbd1f;
    bottom: 0;
    justify-items: end;
    align-items: flex-end;
    width: 50px;
    text-align: center;
    
}

.table td, table th{
    padding: 1em;
    text-align: left;
}

.main-topcakes-container{

    
    display: flex;
    align-items: center;
    justify-content: center;
}

.table-topcake-content{
    max-width: 650px;
    min-width: 320px;
    background-color: azure;
    border-radius: 5px;
    padding: 8px;
    margin: 20px;
    font-size: 10pt;
    
}

.table--title{
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 10px;
}

.table{
    width: 100%;
    border-spacing: 0;
}

tbody tr:nth-child(even){
    background-color: var(--grey);
}

thead :nth-child(1){
    color: white;
    background-color: var(--azul-negro);
}

.fa-star{
    color: #ffc400;
}

a{
    font-weight: bold;
    text-decoration: none;
    color: var(--vino-pastel);
}